*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 20px;
}

#container{
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('img/zoo-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.main-screen{
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-title{
  font-size: 4rem;
  text-align: center;
  margin: 5rem auto 1rem auto;
  font-family: 'Fascinate', cursive;
}

.pick-title{
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  color: white;
  background-color: black;
  padding: 1rem 1rem 1rem 1rem;

}

.animals{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 5rem auto 2rem auto;
  font-size: 1.5rem;
}

.tiger{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  filter: drop-shadow(7px 7px 5px);
}

.tiger:hover{
  cursor: pointer;
  border: 2px solid white;
}

.monkey{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  filter: drop-shadow(7px 7px 5px);
}

.monkey:hover{
  cursor: pointer;
  border: 2px solid white;
}

.elephant{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  filter: drop-shadow(7px 7px 5px);
}

.elephant:hover{
  cursor: pointer;
  border: 2px solid white;

}

/* TIGER GROUP */

.tiger-group{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tiger-features{
  flex-direction: column;
  display: inline-flex;
  height: 7rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top:  2rem;
}

.tiger-feature-s{
  background-color: white;
  color: #B42B51;
  display: inline;
}

/* MONKEY GROUP */

.monkey-group{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.monkey-features{
  flex-direction: column;
  display: inline-flex;
  height: 7rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top:  2rem;
}

.monkey-feature-s{
  background-color: white;
  color: #B42B51;
  display: inline;
}

/* ELEPHANT GROUP */

.elephant-group{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.elephant-features{
  flex-direction: column;
  display: inline-flex;
  height: 7rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top:  2rem;
}

.elephant-feature-s{
  background-color: white;
  color: #B42B51;
  display: inline;
}

/* MAKING THE ATTRIBUTES OF EACH ANIMAL BE CLICKABLE */

.attr:hover{
  cursor: pointer;
  background-color: #B42B51;
  color: white;
}
